*{
    box-sizing: border-box;
}
a{
    color:#333;
    text-decoration: none;
}
body{
    background: #eee;
}
.text-white{
    color: #fff !important;
}
.wrapper{
    max-width: 960px;
    margin-left:auto;
    margin-right: auto;
}

.white{
    filter:brightness(1000%);
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.position-relative{
    position: relative;
}
.position-absolute{
    position: absolute;
}
.d-flex{
    display: flex;
}
@media screen and (max-width: 576px){
    .d-mobile-hide{
        display: none !important;
    }
}
@media screen and (min-width: 577px){
    .d-desk-hide{
        display: none !important;
    }
}