body {
    margin: 0;
  
}
@media only screen and (max-width: 420px) {
  .KufuFixedPc{
   position: absolute;
    width: 13%;
    z-index: 1234;
    /*background-color: white;*/
        top: 0px;
      right:0;
    }
    .nav > img {
        display: block;
        position: absolute;
        width: 20%;
        top: 87%;
        left: 3%;
    
    }
  .webBannewNext{
	display:none;  
  }
  .Experience {
    position: relative;
    padding-top: 46%;
    width: 100%;
    height: auto;
    background-image: url("./img/Experience-mo.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.Experience > img {
    display: block;
    position: absolute;
    width: 20%;
    top: 65%;
    left: 54%;

}

.easy {
    position: relative;
    padding-top: 45%;
    width: 100%;
    height: auto;
    background-image: url("./img/easy-mo.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.easy > img {
    display: block;
    position: absolute;
    width: 20%;
    top: 75%;
    left: 3%;

}

.Feedback {
    position: relative;
    padding-top: 45%;
    width: 100%;
    height: auto;
    background-image: url("./img/Feedback-mo.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.Feedback > img {
    display: block;
    position: absolute;
    width: 20%;
    top: 63%;
    left: 54%;

}

  .down {
    position: relative;
    padding-top: 8%;
    width: 100%;
    height: auto;
    background-image: url("./img/down-mo.png");
    background-size: 100%;
    background-repeat: no-repeat;
}
  .barbg {
    display: block;
    width: 90%;
    margin-left: 7%;
}

    .plan {
    position: relative;
    padding-top: 56%;
    width: 100%;
    height: auto;
    background-image: url("./img/plan-mo.png");
    background-size: 100%;

    background-repeat: no-repeat;
}
 
    .mobile {
    position: relative;
    padding-top: 45%;
    width: 100%;
    height: auto;
    background-image: url("./img/mobilemb.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.mobile > img {
    display: block;
    position: absolute;
    width: 20%;
    top: 50%;
    left: 3%;

}
.newCenter{
  width:50%;
  margin:10% 20%;
}
}

/*以上手机*/


.navbar {
    position: fixed;
    height: 53px;
    width: 100%;
    z-index: 1234;
    background-color: white;
}

.logo {
    margin: 3% 0 0 38%;
    width: 25%;
}

.kufu {
    width: 6%;
    margin: 0 0 0 24%;
}

.nav {
    position: relative;
    padding-top: 123%;
    width: 100%;
    height: auto;
    background-image: url("./img/nav.png");
    background-size: 100%;
    background-repeat: no-repeat;
    margin: 0 0 2px 0;
    background-position: 50% 100%;

}





.bar {
    position: relative;
    padding-top: 45%;
    width: 100%;
    /*    height:auto;*/
    background-image: url("./img/bar.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

/*.plan {
    position: relative;
    padding-top: 42%;
    width: 100%;
    height: auto;
    background-image: url("./img/plan.png");
    background-size: 100%;

    background-repeat: no-repeat;
}*/





.logopc {
    display: none;

}

@media only screen and (min-width: 420px) {
    
  .newCenter{
  width:21%;
  margin:4% 37%;
}
  .newWidth{
  	width:60%;
    margin:0 auto;
  }
  .webNav{
    position: relative;
      width:100%;
  }
  .webBannew{
    
    width:100%;
  	background-image:url(img/00_1.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding:51% 0 0 0;
  }
  .webBannewNext{
    position:relative;
    margin:0 auto;
    width:60%;
  	background-image:url(img/00_2.png);
    background-repeat: no-repeat;
    background-size: 100%;
    padding:27.8% 0 0 0;
  }
  .webBannewNext > img {
        display: block;
        position: absolute;
        width: 16%;
        top: 66%;
        left: 10%;
    
    }
    .nav {
     display: none;
        position: relative;
        padding-top: 118%;
        width: 100%;
        height: auto;
        background-image: url("./img/nav.png");
        background-size: 100%;
        background-repeat: no-repeat;
        margin: 0 0 0 0;
        background-position: 50% 20%;
    
    }
    .nav > img {
        display: block;
        position: absolute;
        width: 20%;
        top: 85%;
        left: 3%;
    
    }

    .navbar {
        display: none;
    }
  .Experience {
    position: relative;
    padding-top: 26.8%;
    width: 60%;
     margin:0 auto;
    height: auto;
    background-image: url("./img/Experience.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.Experience > img {
    display: block;
    position: absolute;
    width: 16%;
    top: 65%;
    left: 52%;

}

.easy {
    position: relative;
    padding-top: 26.8%;
    width: 60%;
     margin:0 auto;
    height: auto;
    background-image: url("./img/easy.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.easy > img {
    display: block;
    position: absolute;
    width: 16%;
    top: 71%;
    left: 10%;

}

.Feedback {
    position: relative;
    padding-top: 27.1%;
    width: 60%;
     margin:0 auto;
    height: auto;
    background-image: url("./img/Feedback.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.Feedback > img {
    display: block;
    position: absolute;
    width: 16%;
    top: 65%;
    left: 51.5%;

}
.mobile {
    position: relative;
    padding-top: 26.8%;
    width: 60%;
     margin:0 auto;
    height: auto;
    background-image: url("./img/mobilepc.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.mobile > img {
    display: block;
    position: absolute;
    width: 16%;
    top: 66%;
    left: 10%;

}
  .plan {
    position: relative;
    padding-top: 28%;
    width: 60%;
    margin:-1px auto;
    height: auto;
    background-image: url("./img/plan.png");
    background-size: 100%;

    background-repeat: no-repeat;
}
  .down {
    position: relative;
    padding-top: 5%;
    width: 100%;
    height: auto;
    background-image: url("./img/07.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

    .logopc {
        display: block;
        position: absolute;
        width: 15%;
        top: 1%;
        left: 9%;
    }
  .barbg {
    display: block;
    width: 60%;
    margin-left: 20%;
}

    .plan {
    position: relative;
    padding-top: 28.9%;
    width: 60%;
    height: auto;
    background-image: url("./img/plan.png");
    background-size: 100%;

    background-repeat: no-repeat;
}

    .KufuFixedPc{
   position: absolute;
    width: 8%;
    z-index: 1234;
    /*background-color: white;*/
        top: 0px;
      right:0;
    }
}
.OnclickKufu {
	cursor: pointer;
}
